.mega-menu-card {
    a {
        display: block;

        &:hover {
            .mega-menu-card-text {
                color: $white;
            }
        }
    }

    &-text {
        font-family: $font-b;
        font-size: 16px;
        color: #aeb0b3;
        line-height: 26px;
        text-align: right;
        margin-top: 8px;
        max-height: 82px;
        min-height: 82px;
        overflow: hidden;
        transition: 0.3s ease;
    }
}

.aside-news-card {
    img {
        object-fit: cover;
    }

    a {
        display: block;
        color: $text-color;
        font-size: 18px;
        font-family: $font-r;
        font-weight: normal;
        line-height: 26px;

        @include mq('xxl') {
            font-size: 20px;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    .card-image {
        position: relative;
    }

    .card-text {
        margin-top: 8px;
        transition: 0.3s ease;
        @include ellipse-rows(3);
        line-height: 29px;

    }
}