.custom-tabs {
    border: none;
    padding: 0;

    .nav-item {
        border-top: 5px solid #7f8386;
        transition: 0.3s ease-in-out;

        .nav-link {
            border: none;
            font-size: calcRem(24);
            font-family: $font-xb;
            padding: 0.5rem 0.5rem;
            margin-bottom: 0;
            transition: 0.3s ease;
            color: #7f8386;
            text-align: center;
            margin-top: 12px;
            transition: 0.3s ease-in-out;

            @include mq('lg') {
                font-size: calcRem(26);
            }


            &:hover {
                color: $white;
            }

            @include mq('sm') {
                padding: 0.5rem 1rem;
                font-size: calcRem(30);
            }

            @include mq('lg') {
                padding: 0.5rem calcRem(35);
            }


            &.active {
                color: $main-color;
                background: none;
            }
        }

        &:has(.active) {
            border-color: $main-color
        }
    }

}


.custom-tabs-content {
    padding-top: calcRem(20);

    @include mq('lg') {
        padding-top: calcRem(30);
    }
}