.main-articles-container {
    border-right: 1px solid $dark6;
    border-#{$left}: 1px solid $dark6;

    .main-acticle-title {
        font-family: $font-xb;
        font-size: 24px;
        color: $text-color;
        line-height: 34px;
        margin-top: 12px;
        @include ellipse-rows(2)
    }

    .swiper-button-next {
        #{$left}: 0;
    }

    .swiper-button-prev {
        #{$right}: 0;
    }

    .swiper-button-next,
    .swiper-button-prev {
        background-color: rgba(174, 176, 179, .5);
        padding: 60px 15px;
        color: $white;
        top: 30%;

        &::after {
            display: none;
        }
    }


}

.aside-trands {
    .trands-news-card {
        a {
            font-size: calcRem(17);
            color: $text-color;
            max-height: calcRem(95);
            overflow: hidden;
            line-height: calcRem(30);
            display: block;

            @include mq('xxl') {
                font-size: calcRem(18);
            }

            img {
                width: calcRem(92);
                height: calcRem(92);
            }

            &:hover {
                text-decoration: underline;
            }

            .card-text {
                @include ellipse-rows(4);
            }
        }
    }

    .row {
        >div {
            .trands-news-card {
                border-bottom: 1px solid #ccc;
                padding-bottom: 7px;
                margin-bottom: 7px;

                @include mq('xxl') {
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                }
            }

            &:last-child {
                .trands-news-card {
                    border-bottom: none;
                    padding-bottom: 0;
                    margin-bottom: 0px;
                }
            }

            &:nth-child(5) {
                display: none;

                @include mq('xxl') {
                    display: block;
                }
            }
        }
    }
}