.watan-art {
    .main-section-title-wrapper {
        --titleColor: var(--purple);
    }

    .card-title {
        font-family: $font-xb;
        font-size: calcRem(20);
        color: var(--purple);;
        margin-top: 12px;
    }
}